html, body {
    padding: 0;
    margin:0;
    height: 100%;
    width: 100%;
}
header {
    width: 100%;
    background-color: rgba(158, 158, 158, 0.66);
    margin: 0;
    position: fixed;
}
header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
header ul li {
    float: right;
    border-right: 3px solid #fff;
}
header ul li:first-child {
    border-right: none;
}
header ul li a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
header ul li a:hover {
    background-color: rgba(158, 158, 158, 0.8);
}
#main {
    height:100%;
    min-height: 100%;
    width: 100%;
}
.main {
    margin: auto;
    width: 100%;
    height: 100%;
    background: url(https://cdn.pixabay.com/photo/2014/03/22/22/05/sunbeam-292987_960_720.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}
.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.main-text {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 500%;
    text-shadow: 0px 0px 300px #000;
}
#portfolio {
    height: 400px;
}
#about {
    height: 400px;
}
#contact {
    height: 400px;
}