			body {
				background-color: #cccccc;
			}
			* {
				margin: 0px;
				padding: 0px;
			}
			.nav {
			    list-style-type: none;
			    margin: 0;
			    padding-left: 50px;
			    padding-right: 30px;
			    overflow: hidden;
			    background-color: rgba(144, 146, 153, 0.94);
			    border-radius: 2px;
			    position: fixed;
			    top: 0px;
			    width: 100%;
			    box-sizing: border-box;
			    z-index: 100;
			}
			li {
				float: right;
			}
			.nav-link {
				display: block;
			    color: white;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    border-left: solid;
			    border-radius: 5px;
			}
			.nav-name{
				display: inline;
				color: white;
			}
			.page1 {
				box-sizing: border-box;
				height: 970px;
				background: url() no-repeat center top fixed;
				background-size: cover;
				position: relative;
			}
			.middle {
				padding-top: 140px;
				margin: auto;
				box-sizing: border-box;
			}
			.middle-text {
				width: 1170px;
				margin: auto;
				box-sizing: border-box;
			}
			.main-text {
				text-align: center;
				font-size: 100px;
				font-family: comic sans ms;
				color: white;
				text-shadow: 3px 3px black;
			}
			.middle-img{
				width: 1170px;
				margin: auto;
				box-sizing: border-box;
			}
			.main-img {
				height: 350px;
				border-radius: 30px;
				display: block;
				margin: auto;
				opacity: .8; 
			}
			.icon {
				padding-right: 10px;
			}